<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <HelloWorld msg="Welcome to Your Vue.js App"/>
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from '@/components/HelloWorld.vue'

import {mapState, mapActions} from 'vuex';

export default {
  name: 'HomeView',
  components: {
    HelloWorld
  },
  mounted() {
    this.getTest();
  },
  watch: {
    test(newState, oldState) {
      console.log(newState);
      console.log(oldState);
    }
  },
  computed: {
    //...mapState(FOLDER, [STATE])
    ...mapState('test', ['test'])
  },
  methods: {
    ...mapActions('test', ['getTest'])
  }
}
</script>
