<template>
    <div class="spinner-layout">
        <div class="spinner-content no-gutters col-12 p-0 py-4 px-md-5">
            <div class="spinner-layout__spinner-container">
                <span class="spinner-layout__spinner spinner-border text-primary">
                    <font-awesome-icon :icon="['fas','spinner']" />
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "LoadingView"
    }
</script>

<style scoped lang="scss">

    @keyframes spinner {
        to { transform: rotate(360deg); }
    }

    span.spinner-layout__spinner.spinner-border.text-primary {
        color: #212B7E !important;
    }

    .spinner-layout {
        position: fixed;
        width: 100%;
        min-height: 100vh;
        top: 0;

        & .spinner-content {
            min-height: 100vh;

            & span.service-layout__spinner.spinner-border.text-primary {
                $color: #212B7E !important;
            }

            &__spinner-container {
                position: absolute;
                left: 0;
                width: 100%;
                top: 0;
                height: 100%;
                background-color: rgba(111, 111, 111, 0.5);
                z-index: 10;
            }

            &__spinner {
                top: 50%;
                left: 50%;
                position: absolute;
            }

        }

        &__spinner-container {
            position: absolute;
            left: 0;
            width: 100%;
            top: 0;
            height: 100%;
            background-color: rgba(111, 111, 111, 0.5);
            z-index: 10;
        }

        &__spinner {
            top: 50%;
            left: 50%;
            position: absolute;

            & svg {
                color: #2848a3;
                width: 40px;
                height: 40px;
                animation: spinner 1.2s linear infinite;
            }

        }
    }

</style>