<template>
    <div class="modal" id="modal" v-if="show" v-show="show">
        <div class="modal-dialog">
            <div class="modal-content" :class="`modal-bg-${type}`">
                <span>{{ message }}</span>
            </div>
            <div class="modal-close" @click="closeModal"><img src="../assets/close.svg"/></div>
        </div>
    </div>
</template>

<script>
    import { mapState, mapMutations } from 'vuex';
    import { CLOSE_MODAL } from "@/store/modules/modal/types";
    export default {
        name: "MessageBox",
        data() {
            return {
            }
        },
        computed: {
            ...mapState('modal', ['type', 'message', 'show'])
        },
        methods: {
            ...mapMutations('modal', [CLOSE_MODAL]),

            closeModal() {
                this.$store.commit('modal/' + CLOSE_MODAL);
            }
        }
    }
</script>

<style scoped lang="scss">

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1060;
        width: 100%;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        outline: 0;
        background-color: #4444445f;
        display: flex;
        justify-content: center;
        align-items: center;

        & .modal-dialog {
            position: relative;
            width: auto;
            margin: .5rem;
            @media (min-width: 576px) {
                max-width: 300px;
                margin: 1.75rem auto;
            }

            & .modal-close {
                position: absolute;
                right: -30px;
                color: #ffffff;
                font-size: 2rem;
                top: 6px;
                & img {
                    width: 25px;
                }

                &:HOVER {
                    cursor: pointer;
                    opacity: 0.8;
                }
            }

            & .modal-content {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 100%;
                pointer-events: auto;
                background-clip: padding-box;
                border: 1px solid rgba(0,0,0,.2);
                border-radius: .5rem;
                outline: 0;
                color: #FFFFFF;
                font-size: 18px;
                padding: 20px;
                min-height: 100px;
                background-color: #eb5757;
                box-shadow: 0 0 8px 2px #444444;

                &.modal-bg-error {
                    background-color: #eb5757bf;
                }

                & h5 {
                    text-transform: capitalize;
                }
            }
        }
    }

</style>