<template>
  <nav>
    <router-link to="/">Home</router-link> |
    <router-link to="/about">About</router-link>
  </nav>
  <router-view/>

  <MessageBox />
  <Loading v-if="loading" />

</template>

<script>
import { mapState } from 'vuex'
import Loading from "./components/Loading";
import MessageBox from "./components/MessageBox";

export default {
  components: {Loading, MessageBox},
  computed: {
    ...mapState('modal', ['loading']),
  }
}
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;

  a {
    font-weight: bold;
    color: #2c3e50;

    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>
